<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Test Suites</h3>
    </div>
    <div class="panel-body">
        <div>
    Search:
    <input ng-model="query">
    Order By:
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
    </select>
</div>
<br />
        <table class="table table-striped table-condensed table-bordered">
            <tr ng-repeat="testSuite in testSuites | filter:query | orderBy:orderProp">
                <td>
                    <a href="#/tests/{{testSuite.id}}">{{testSuite.name}}</a>
                </td>
                <td>
                    <a href="#/testEvents/{{testSuite.id}}">Test Events</a>
                </td>
                <td>
                    <button ng-click="edit(testSuite)">
                        Edit</button>
                </td>
                <td>
                    <button ng-click="delete(testSuite.id)">
                        Delete</button>
                </td>
                <td>
                    <button ng-click="createTestEvent(testSuite.id)">Create Test Event</button>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" ng-click="add()">
            Add a Test Suite</button>
    </div>
</div>
