/src/testscriptorganizer/__pycache__/*
/src/testscriptorganizer/migrations/*
/src/testscriptorganizer/node_modules/*
/src/testscriptorganizer/static/Scripts/*
/src/TestScriptOrganizer.db

/ui/Scripts
/dev-env
*.pyc
*.pyo
app.db
