<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Test Events</h3>
    </div>
    <div class="panel-body">
        <div>
    Search:
    <input ng-model="query">
    Order By:
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
    </select>
</div>
<br />
        <table class="table table-striped table-condensed table-bordered">
            <tr ng-repeat="testEvent in testEvents | filter:query | orderBy:orderProp">
                <td>
                    <a href="#/testEvent/{{testEvent.id}}">{{testEvent.name}}</a>
                </td>
                <td>
                    {{testEvent.date | date:'MM-dd-yyyy'}}
                </td>
                <td>
                    <button ng-click="delete(testEvent.id)">
                        Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>
