
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Projects
        </h3>
    </div>
    <div class="panel-body">
        <div>
            Search:
            <input ng-model="query">
            Order By:
            <select ng-model="orderProp">
                <option value="name">Name</option>
            </select>
        </div>
        <br />
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <td>Project Name</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tr ng-repeat="project in projects | filter:query | orderBy:orderProp | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                <td>
                    <span editable-text="project.name" e-name="name" e-form="rowform">
                        <a href="#/testSuites/{{project.id}}">{{project.name}}</a>
                    </span>
                </td>
                <td>
                    <a href="#/projectTestEvents/{{project.id}}">Test Events</a>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="saveProject(project)">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            Save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            Cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
                        <button class="btn btn-danger" ng-click="remove(project.id)">Del</button>
                    </div>
                </td>
            </tr>
            <tfoot>
                <tr>
                  <td colspan="3">
                    <div class="pagination">
                        <span>Page {{currentPage + 1}} of {{ pageCount() }}</span>

                        <a href ng-click="prevPage()">« Prev</a>

                          <a href ng-click="nextPage()">Next »</a>

                    </div>
                  </td>
                </tr>
            </tfoot>
        </table>
        <button class="btn btn-primary" ng-click="add()">
            Add a Project
        </button>
    </div>
</div>
