<!DOCTYPE html>
<html  ng-app="tso" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test Script Organizer</title>
    <!-- bower:js -->
    <script src="../static/vendor/bower/jquery/jquery.js"></script>
    <script src="../static/vendor/bower/angular/angular.js"></script>
    <script src="../static/vendor/bower/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="../static/vendor/bower/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <script src="{{ STATIC_URL }}js/app.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/config.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/directives.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/projectService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/testService.js" type="text/javascript"></script> 
    <script src="{{ STATIC_URL }}js/Services/testStepService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/testSessionService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/testResultService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/testEventService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/userService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/base64Service.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/userAdminService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/roleManagementService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/testSuiteService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Services/setupService.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/projectController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/testController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/editTestController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/createTestSessionController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/executeTestController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/completeTestController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/testEventController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/testEventListController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/loginController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/userAdminController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/menuController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/testSuiteController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/projectTestEventListController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/setupController.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Controllers/logoutController.js"></script>
    <script src="{{ STATIC_URL }}js/Directives/tsoclick.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Directives/uiSortable.js" type="text/javascript"></script>
    <link href="{{ STATIC_URL }}Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}Content/ng-grid.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}Scripts/angular-xeditable/css/xeditable.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="menuController">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Test Script Organizer</a>
            </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-show="loggedIn">
                    <li>
                        <a href="#/admin/user">User Administration</a>
                    </li>
                </ul>
            
                <ul class="nav navbar-nav navbar-right" ng-show="loggedIn">
                  <li>
                    <a href="#/logout">Logout</a>
                  </li>
                </ul>
        </div>
    </nav>

    <div class="container" ng-view></div>
</body>
</html>
